
h1{
    font-size: 40px;
  
}
img{
    width: 15%;
}
.Email{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 20px;
}
.Password{
    margin-top: 10px;
    width: 300px;
    height: 20px;
}
.forgot-password{
    margin-left: 200px;
    text-decoration: blue;
}
.Submit{
    width: 80px;
    height: 35px;
    padding: 5px;
    position: relative;
    bottom: 50px;
    background:orangered;
    border-radius: 10px;
}
.Submit:hover{
    transform: rotate(360deg);
    transition: transform 2s;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submission-message{
    font-size: 20px;
    animation-duration: 1s;
    animation-name: slidein;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: crimson;
}
.gotohome{
    transform: rotate(360deg);
    transition: transform 3s;
    position: relative;
    left: 43%;
    top: 30px;
    font-size: 24px;
    border-radius: 8px;
    background-color:cyan;
    /* animation-duration: 1s;
    animation-name:slidein; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 a {
    text-decoration: none;
}
.forgot{
    margin-top: 40px;
}
.forgot-part{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.request{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-part{
    text-align: center;
    font-size: 20px;
    color: rgb(240, 39, 233);
}
.icons{
    color: blue;
    font-size: 1.5rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

